@font-face {
  font-family: 'RalewaySemiBold';
  src: url('../fonts/raleway_semibold/raleway-semi-bold.eot');
  src: url('../fonts/raleway_semibold/raleway-semi-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/raleway_semibold/raleway-semi-bold.woff') format('woff'),
       url('../fonts/raleway_semibold/raleway-semi-bold.ttf') format('truetype'),
       url('../fonts/raleway_semibold/raleway-semi-bold.svg#raleway-semi-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'MontserratRegular';
	src: url('../fonts/monstserrat-regular/montserrat-regular.eot');
	src: url('../fonts/monstserrat-regular/montserrat-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/monstserrat-regular/montserrat-regular.woff') format('woff'),
		 url('../fonts/monstserrat-regular/montserrat-regular.ttf') format('truetype'),
		 url('../fonts/monstserrat-regular/montserrat-regular.svg#montserrat-regular') format('svg');
	font-weight: normal;
	font-style: normal;
  }

@font-face {
  font-family: 'MontserratSemiBold';
  src: url('../fonts/montserrat-semi-bold/montserrat-semi-bold.eot');
  src: url('../fonts/montserrat-semi-bold/montserrat-semi-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-semi-bold/montserrat-semi-bold.woff') format('woff'),
       url('../fonts/montserrat-semi-bold/montserrat-semi-bold.ttf') format('truetype'),
       url('../fonts/montserrat-semi-bold/montserrat-semi-bold.svg#montserrat-semi-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open-sans-regular/open-sans-regular.eot');
  src: url('../fonts/open-sans-regular/open-sans-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans-regular/open-sans-regular.woff') format('woff'),
       url('../fonts/open-sans-regular/open-sans-regular.ttf') format('truetype'),
       url('../fonts/open-sans-regular/open-sans-regular.svg#open-sans-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	
}

h1, h2, h3, h4, h5, h6{
	font-family: 'MontserratSemiBold';
	color: #202020;
	line-height: 24px;
}

h1 {
	font-family: 'MontserratSemiBold';
	color: #FFFFFF;
	font-size: 50px;
	line-height: 55px;
}

h2 {
	font-family: 'MontserratSemiBold';
	color: #202020;
	font-size: 32px;
	line-height: 35px;
}

h3 {
	font-family: 'MontserratSemiBold';
	color: #212121;
	font-size: 26px;
	line-height: 24px;
}

h4 {
	font-family: 'MontserratSemiBold';
	font-size: 24px;
	line-height: 24px;
}

h5 {
	font-family: 'MontserratSemiBold';
	font-size: 20px;
	line-height: 24px;
}

h6 {
	font-family: 'MontserratSemiBold';
	font-size: 18px;
	line-height: 24px;
	color: #202020;
}

p {
	font-family: 'OpenSans';
	margin: 0px auto;
	padding: 10px 0px;
	color: #5f5f5f;
	letter-spacing: .5px;
	font-size: 15px;
	line-height: 30px;
}

.prometium-header-area {
	background: url("../images/header_background.png"); 
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	height: 100vh;
}

.prometium-nav {
    padding-top: 25px;
}

.top-nav-menu .navbar {
	padding: 0.2rem 1rem;
}

.top-nav-menu .navbar #navbarCollapse ul li a {
	font-family: 'RalewaySemiBold';
	color: #FFFFFF;
    padding: 9px 16px;
}

.top-nav-menu .navbar #navbarCollapse ul li ul {
	margin: 0px;
    padding: 0px;
    border: none;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
    min-width: 14rem;
}

.top-nav-menu .navbar #navbarCollapse ul li ul li {
	
}

.top-nav-menu .navbar #navbarCollapse ul li ul li:hover {
	background: rgba(0,0,0,0.1);;
}

.top-nav-menu .navbar #navbarCollapse ul li ul li a {
	color: #000;
    margin: 0;
    padding: 0px;
    font-size: 15px;
    display: block;
    padding: 10px 15px;
    font-size: 14px;
}

.top-nav-menu .navbar #navbarCollapse ul li ul li a:hover {
	text-decoration: none;
	color: #5D6ADF;
	padding-left: 10px;
	transition: 0.5s;
}

.login-button {

}

.login-button a {
    color: #007bff;
    background: WHITE;
    padding: 2px 25px 5px 25px;
    margin: 8px 10px 0px 0px;
	border-radius: 100px;
	border: none;
}

.login-button a:hover {
	background: #4A95DB;
}

.get-started-button {

}

.get-started-button a {
    color: WHITE;
    background: none;
    padding: 2px 22px 5px 25px;
    margin: 8px 0px 0px 0px;
    border-radius: 100px;
    border: 1px solid #FFFFFF !important;
}	

.get-started-button a:hover {
    background: #4A95DB;
}

.banner-part {
    top: 30%;
    position: absolute;
    left: 0;
    right: 0;
}

.banner-part-text {
    margin-top: 25px;
}

.banner-part-text p {
	color: #FFFFFF;
}

.banner-button {
    background: WHITE;
    padding: 13px 40px;
    border-radius: 100px;
    margin-top: 31px;
    display: table;
}

.banner-button:hover {
    color: #FFF;
    background: #4A95DB;
    text-decoration: none;
}

.banner-icon {
    margin-left: 15px;
}

.banner-icon i {
    font-size: 13px;
}

.service-area {
	margin: 70px 0px;
}

.service-para p {
	margin-bottom: 20px;
	padding-top: 5px;
}

.service-icon img {
    width: 100px;
	height: auto;
	margin-bottom: 15px;
}

.service-button {
    margin-bottom: 50px;
}

.service-button a {
	font-family: 'MontserratRegular';
	color: #535353;
	font-size: 13px;
	padding: 10px 35px;
	border: 1px solid #aeacac;
	border-radius: 100px;
	font-weight: bold;
}

.service-button a:hover {
	text-decoration: none;
}	

.features-top-tile {
	font-family: 'MontserratRegular';
	color: #87959c;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.features-title {
	font-family: 'MontserratSemiBold';
	text-align: center;
	margin-bottom: 60px;
}

.slider-info.d-flex {
    padding-top: 15px;
}
.slider-content {
    padding-left: 30px;
}
.slider-content h6 {
    font-size: 15px;
}
.slider-content p {
    font-size: 14px;
    line-height: 30px;
	color: #5f5f5f;
	margin-bottom: 10px;
	font-weight: 500;
	padding-top: 0px;
}

/* OWL Carousal Slider Start */


/* OWL Carousal Slider End */



/* Client Testmonials Area Start */

.client-testmonial-area {
	background: url("../images/testmonials_background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100% 100%;
	padding-top: 50px;
	margin-top: 50px;
}

.client-testmonial-top-tile {
	font-family: 'MontserratRegular';
	color: #87959c;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.client-testmonial-next-title {
	font-family: 'MontserratSemiBold';
	text-align: center;
	margin-bottom: 60px;
}

.shadow-effect {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	border:1px solid #ECECEC;
	box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}

#testimonials-list .shadow-effect p {
	font-family: inherit;
	font-size: 17px;
	line-height: 1.5;
	margin: 0 0 17px 0;
	font-weight: 300;
}

.testimonial-name {
	margin: -17px auto 0;
	display: table;
	width: auto;
	background: #3190E7;
	padding: 9px 35px;
	border-radius: 12px;
	text-align: center;
	color: #fff;
	box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}

#testimonials-list .item {
	text-align: center;
	padding: 50px;
	opacity: .2;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
	transition: all 0.3s ease-in-out;
}

#testimonials-list .owl-item.active.center .item {
	opacity: 1;
	-webkit-transform: scale3d(1.0, 1.0, 1);
	transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
	-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
	max-width: 90px;
	border-radius: 50%;
	margin: 0 auto 17px;
}
	
#testimonials-list.owl-carousel .owl-dots .owl-dot.active span,
#testimonials-list.owl-carousel .owl-dots .owl-dot:hover span {
	background: #3190E7;
	-webkit-transform: translate3d(0px, -50%, 0px) scale(0.7);
			transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#testimonials-list.owl-carousel .owl-dots{
	display: inline-block;
	width: 100%;
	text-align: center;
}

#testimonials-list.owl-carousel .owl-dots .owl-dot{
	display: inline-block;
}

#testimonials-list.owl-carousel .owl-dots .owl-dot span {
	background: #3190E7;
	display: inline-block;
	height: 20px;
	margin: 0 2px 5px;
	-webkit-transform: translate3d(0px, -50%, 0px) scale(0.3);
			transform: translate3d(0px, -50%, 0px) scale(0.3);
	-webkit-transform-origin: 50% 50% 0;
			transform-origin: 50% 50% 0;
	transition: all 250ms ease-out 0s;
	width: 20px;
}

/* Client Testmonials Area End */


/* Features Presentation Area Start */
.features-presentation-area {
	background: url("../images/features_presentation.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100% 100%;
	padding: 60px 0px;
	margin: 60px 0px;
}
.features-presentation-area-one {
	margin: 25px 0px 55px 0px;
}

.features-presentation-area-two {
	margin: 55px 0px 15px 0px;
}

.features-presentation-title-content img {
	padding-bottom: 15px;
}

.features-presentation-title-content h6 {
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 0;
}

.features-presentation-title-content p {
    color: #FFF;
    letter-spacing: 1px;
}
/* Features Presentation Area End */

/* Expertise Area Start */

.expertise-area {
	padding: 30px 0px;
}

.expertise-top-tile {
	font-family: 'MontserratRegular';
	color: #87959c;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: bold;
	margin-bottom: 10px;
}

.expertise-phylosophy-title, .expertise-management-title, .expertise-company-title {
	font-family: 'MontserratSemiBold';
	margin-bottom: 0px;
}

hr.expertise-phylosophy-hr {
	border-top: 2px solid #20edd7;
	margin-top: 10px;
}

hr.expertise-management-hr {
	border-top: 2px solid #0bd7fc;
	margin-top: 10px;
}

hr.expertise-company-hr {
	border-top: 2px solid #736de2;
	margin-top: 10px;
}

/* Expertise Area End */


/* Our Team Members Start */

.team-member-area {
	padding-top: 50px;
}

.team-member-top-tile {
	font-family: 'MontserratRegular';
	color: #87959c;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}

.team-member-next-title {
	font-family: 'MontserratSemiBold';
	margin-bottom: 0px;
	text-align: center;
}

/* Our Team Members End */










































































	