@font-face {
  font-family: 'RalewaySemiBold';
  src: url('../fonts/raleway_semibold/raleway-semi-bold.eot');
  src: url('../fonts/raleway_semibold/raleway-semi-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/raleway_semibold/raleway-semi-bold.woff') format('woff'),
       url('../fonts/raleway_semibold/raleway-semi-bold.ttf') format('truetype'),
       url('../fonts/raleway_semibold/raleway-semi-bold.svg#raleway-semi-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url('../fonts/montserrat-semi-bold/montserrat-semi-bold.eot');
  src: url('../fonts/montserrat-semi-bold/montserrat-semi-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-semi-bold/montserrat-semi-bold.woff') format('woff'),
       url('../fonts/montserrat-semi-bold/montserrat-semi-bold.ttf') format('truetype'),
       url('../fonts/montserrat-semi-bold/montserrat-semi-bold.svg#montserrat-semi-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open-sans-regular/open-sans-regular.eot');
  src: url('../fonts/open-sans-regular/open-sans-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans-regular/open-sans-regular.woff') format('woff'),
       url('../fonts/open-sans-regular/open-sans-regular.ttf') format('truetype'),
       url('../fonts/open-sans-regular/open-sans-regular.svg#open-sans-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	
}

h1, h2, h3, h4, h5, h6{
	font-family: 'MontserratSemiBold';
	color: #000000;
	line-height: 24px;
}

h1 {
	font-family: 'MontserratSemiBold';
	color: #FFFFFF;
	font-size: 50px;
	line-height: 55px;
}

h3 {
	font-family: 'MontserratSemiBold';
	color: #212121;
	font-size: 26px;
	line-height: 24px;
}

h4 {
	font-family: 'MontserratSemiBold';
	font-size: 24px;
	line-height: 24px;
}

h5 {
	font-family: 'MontserratSemiBold';
	font-size: 20px;
	line-height: 24px;
}

h6 {
	font-family: 'MontserratSemiBold';
	font-size: 18px;
	line-height: 24px;
}

p {
	font-family: 'OpenSans';
	margin: 0px auto;
	padding: 10px 0px;
	color: #000000;
	letter-spacing: .5px;
	font-size: 18px;
	line-height: 35px;
}

.prometium-header-area {
	background: url("../images/header_background.png"); 
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	height: 100vh;
}

.prometium-nav {
    padding-top: 25px;
}

.top-nav-menu .navbar {
	padding: 0.2rem 1rem;
}

.top-nav-menu .navbar #navbarCollapse ul li a {
	font-family: 'RalewaySemiBold';
	color: #FFFFFF;
    padding: 9px 16px;
}

.login-button {

}

.login-button a {
    color: #007bff;
    background: WHITE;
    padding: 2px 25px 5px 25px;
    margin: 8px 10px 0px 0px;
    border-radius: 100px;
}

.get-started-button {

}

.get-started-button a {
    color: WHITE;
    background: none;
    padding: 2px 22px 5px 25px;
    margin: 8px 0px 0px 0px;
    border-radius: 100px;
    border: 1px solid #007bff !important;
}

.get-started-button a:hover {
    background: #007bff;
}

.banner-part {
    top: 30%;
    position: absolute;
    left: 0;
    right: 0;
}

.banner-part-text {
    margin-top: 25px;
}

.banner-part-text p {
	color: #FFFFFF;
}

.banner-button {
    background: WHITE;
    padding: 13px 40px;
    border-radius: 100px;
    margin-top: 31px;
    display: table;
}

.banner-button:hover {
    color: #FFF;
    background: #007bff;
    text-decoration: none;
}

.banner-icon {
    margin-left: 15px;
}

.banner-icon i {
    font-size: 13px;
}









































































	