@font-face {
  font-family: 'RalewaySemiBold';
  src: url('../fonts/raleway_semibold/raleway-semi-bold.eot');
  src: url('../fonts/raleway_semibold/raleway-semi-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/raleway_semibold/raleway-semi-bold.woff') format('woff'),
       url('../fonts/raleway_semibold/raleway-semi-bold.ttf') format('truetype'),
       url('../fonts/raleway_semibold/raleway-semi-bold.svg#raleway-semi-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url('../fonts/montserrat-semi-bold/montserrat-semi-bold.eot');
  src: url('../fonts/montserrat-semi-bold/montserrat-semi-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-semi-bold/montserrat-semi-bold.woff') format('woff'),
       url('../fonts/montserrat-semi-bold/montserrat-semi-bold.ttf') format('truetype'),
       url('../fonts/montserrat-semi-bold/montserrat-semi-bold.svg#montserrat-semi-bold') format('svg');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'GothamProMedium';
  src: url('../fonts/gothampro_medium/gotham-pro-medium.eot');
  src: url('../fonts/gothampro_medium/gotham-pro-medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gothampro_medium/gotham-pro-medium.woff') format('woff'),
       url('../fonts/gothampro_medium/gotham-pro-medium.ttf') format('truetype'),
       url('../fonts/gothampro_medium/gotham-pro-medium.svg#gotham-pro-medium') format('svg');
  font-weight: medium;
  font-style: normal;
}

body {
	
}

h1, h2, h3, h4, h5, h6{
	font-family: 'MontserratSemiBold';
	color: #000000;
	line-height: 24px;
}

h1 {
	font-family: 'MontserratSemiBold';
	font-size: 60px;
	line-height: 24px;
}

h3 {
	font-family: 'MontserratSemiBold';
	color: #212121;
	font-size: 26px;
	line-height: 24px;
}

h4 {
	font-family: 'MontserratSemiBold';
	font-size: 24px;
	line-height: 24px;
}

h5 {
	font-family: 'MontserratSemiBold';
	font-size: 20px;
	line-height: 24px;
}

h6 {
	font-family: 'MontserratSemiBold';
	font-size: 18px;
	line-height: 24px;
}

p {
	font-family: 'GothamProLight', sans-serif;
	margin: 0px auto;
	padding: 10px 0px;
	color: #000000;
	letter-spacing: .5px;
	font-size: 18px;
	line-height: 24px;
}

.prometium-header-area {
	background: url("../images/header_background.png"); 
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	height: 100vh;
}

.prometium-nav {
    padding-top: 25px;
}

.top-nav-menu .navbar {
	padding: 0.2rem 1rem;
}

.top-nav-menu .navbar #navbarCollapse ul li a {
	font-family: 'RalewaySemiBold';
    padding: 9px 16px;
}

.login-button {

}

.login-button a {
    color: #007bff;
    background: WHITE;
    padding: 2px 25px 5px 25px;
    margin: 8px 25px 0px 0px;
    border-radius: 100px;
}

.get-started-button {

}

.get-started-button a {
    color: WHITE;
    background: none;
    padding: 2px 22px 5px 25px;
    margin: 2px 0px 0px 0px;
	border-radius: 100px;
	border: 1px solid #007bff !important;
}

.get-started-button a:hover {
    background: #007bff;
}

.banner-part {
    top: 30%;
    position: absolute;
    left: 0;
    right: 0;
}









































































	